PORT=4000
WS_PORT=4001
DATABASE_URL=file:./data/db.json
JWT_SECRET=
JWT_REFRESH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CLOUDINARY_CLOUD_NAME=xku0l7uc
CLOUDINARY_API_KEY=725198571393975
CLOUDINARY_API_SECRET=zDIczZZd_ySyVSXVQPvtQcLao7w
CORS_ORIGIN=http://localhost:3000,exp://*
ADMIN_SEED_EMAIL=admin@link.app
ADMIN_SEED_PASSWORD=Admin123!
